html {
  overflow: auto;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  line-height: 1.75;
}

a {
  color: #fed136;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fec503;
  border: 0;
  background-color: #ffffff;
  
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: white;
  font-size: 30px;
  font-family: 'PT Serif', serif;
  /* font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
  /* font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)),
  url('../img/91.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header{

}
header.masthead {
  /* text-align: center; */
  color: white;
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)),
  url('../img/91.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover; */
}

header.masthead .intro-text {
  padding-top: 100px;
  /* margin-top: 190px; */
  /* padding-bottom: 100px; */
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  /* font-style: italic; */
  line-height: 22px;
  /* margin-bottom: 25px; */
  color: #dad6d6;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
}

header.masthead .intro-text .intro-heading {
  /* font-size: 30px;
  font-weight: 700;
  line-height: 50px; */

  
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
  /* margin-bottom: 25px; */
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)),
    url('../img/91.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  header.masthead .intro-text {
    padding-top: 100px;
    /* padding-bottom: 200px; */
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 14px;
    /* font-style: italic; */
    line-height: 20px;
    /* margin-bottom: 25px; */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
  }
  header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

div.links ul li.item-course div.anim a{

  color: #a5a3a3;
  font-size: 20px;
}

div.links ul li.item-course div.anim a:hover{
  color: aliceblue;
  text-decoration: none !important;
  font-size: 20px;
}

ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 1em;
  text-indent: -1em;
}
.animate{
  margin-left: -20px;
  width:210px;
  height:2px;
  background:linear-gradient(to right,#ccc,#ccc);
  background-color:gray;
  position:sticky;
  top:0;
  bottom:0;
  left: 0;
  right:0;
    /* margin:auto; */
  border-radius:4px;
  background-size:20%;
  background-repeat:repeat-y;
  background-position:-25% 0;
  animation:scroll 3s ease-in-out infinite;
}

@keyframes scroll{
  100%{background-size:100%}
/*     100%{background-position:125% 0;} */
}

.bullet{
  font-size: 10px;
  vertical-align: super;
}
.anim{
  
}
.len1{
  padding-bottom: 20px;
}
.len2{
  padding-bottom: 18px !important;
}
span.lead-in-txt{
  width: 200px;
}

span.fill-color{
  background: #fec503 !important;
  color: #fec503 !important;
}
div.our-c{
  font-size: 12px !important;
}